body {
  font-size: 12px;
  font-family: Oxygen, sans-serif;
  background: #F4F4F4;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  font-size: 10px;
}

.bottom.axis path {
  display: none;
}

.show-bottom-axis-line .bottom.axis path {
  display: inherit;
}

.chart {
  background: white; 
  margin: 10px;
  border-radius: 0 0 3px 3px;
  border: solid #E9E9E9;
  border-width: 0px 1px 1px 1px;

  -moz-border-radius: 0 0 3px 3px;
}

.line {
  fill: none;
}

text.title {
  font-size: 12px;
}

.chart > .title {
  font-size: 14px;
}

.max-lock .max-line {
  fill: black;
}

.max-lock .background {
  fill: #cccccc;
  fill-opacity: 50%;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.max-lock .lock, 
.max-lock .value
{
  pointer-events: none;
}

.max-lock .lock .base {
  fill: grey;
}

.max-lock .lock .hasp {
  stroke: grey;
}

.control-panel {
  background-color: #C0C0C0;
  position: absolute; top: 0; right: 0;
  z-index: 10;
  margin: 10px 20px 10px 10px;
  padding: 10px;
  border-radius: 10px;
}

.control-panel .picker .label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.resize-layer {
  z-index: 100;
  position: absolute; top: 0; left: 0;
}

.resize-box {
  fill-opacity: .25;
  fill: grey;
  stroke: grey;
  stroke-opacity: .65;
  stroke-width: 2px;
}

.resize-widget {
  fill-opacity: .65;
  fill: grey;
}

.series path.mark,
.series circle.mark {
  fill-opacity: 0;
  stroke-width: 2.5;
}

.chart text.error  {
  font: 14px;
  font-style: italic;
  text-anchor: middle;
}

.chart .series .bar {
  fill-opacity: .3;
}

