
<md-dialog aria-label="Upload File Dialog">
  <md-dialog-content class="sticky-container">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Upload File</span>
        <span flex></span>
        <md-button ng-click="close()" aria-label="close upload dialog">
            <md-icon md-svg-src="/img/icons/ic_close_48px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div ng-controller="UploadFile">
        <br/>
        Drop a file here to upload:
        <br/>
        <div ngf-drop ng-model="files" class="drop-box"
            ngf-drag-over-class="{accept:'dragover-ok', reject:'dragover-not-ok', delay:100}"
            ngf-multiple="true" ngf-allow-dir="true"
            ngf-accept="'/(text\/tab-separated-values)|(text\/csv)/'">
          .tsv or .csv files
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    </div>
  </md-dialog-content>
</md-dialog>