body {
  background-color: white;
  font-family: 'Oxygen', sans-serif;  
} 

div.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

div.column_or_entity {
  margin-top: 15px;
  margin-left: 5px;
}

.column_or_entity div.label {
  margin-bottom: 7px;
}

#ColumnOrEntityInput {
  width: 200px;
  font-size: 15px;
}

#ColumnOrEntityForm {
  font-size: 15px;
}

#charts {
  margin-top: 50px;
  margin-left: 50px;
}
