body {
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
} 

.page-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.column-entry {
  margin-top: 15px;
  margin-left: 5px;
  float: left;
}

.column-entry .label {
  margin-bottom: 7px;
}

#ColumnOrEntityInput {
  width: 200px;
  font-size: 15px;
}

#ColumnOrEntityForm {
  font-size: 15px;
  margin-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.chart {
  display: inline-block;
}

.panel .label {
  font-size: 15px;
}

.chart-control-panel {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.chart-control-panel .md-select-label {
  font-size: 14px;
}

.chart-control-panel .settings-button {
  vertical-align: top;
}

.upload-button {
  vertical-align: top;
}

md-option .md-text {
  font-size: 14px;
}

.chart-control-panel .sub-selection {
  margin-left: 12px;
}

.chart-control-panel .axis-controls {
  margin-top: 50px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 400px;
  height: 150px;
  padding-top: 25px;
  margin: 10px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.dragover {
  border: 5px dashed blue;
}

md-content {
  min-height: 200px;
}

.picker {
  width: 400px;
  display: inline-block;
  position: relative;
  top: -16px; /* reverse padding from being nested in two md-content blocks */
  vertical-align: top;
  transition-duration: 0.5s;
  transition-function: ease;
}

.picker.ng-hide {
  transition-duration: 0.5s;
  transition-function: ease;
  transform: translateX(-100%);
}

.menu {
  vertical-align: top;
}

.left-button-bar {
  width: 40px;
  position: fixed;
}

.main-content {
  position: absolute;
  left: 40px;
  clip: rect(auto, auto, auto, auto);
}