body {
  background-color: white;
  font-family: 'Oxygen', sans-serif;  
} 

.page-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.column-entry {
  margin-top: 15px;
  margin-left: 5px;
  float: left;
}

.column-entry .label {
  margin-bottom: 7px;
}

#ColumnOrEntityInput {
  width: 200px;
  font-size: 15px;
}

#ColumnOrEntityForm {
  font-size: 15px;
  margin-bottom: 20px;
}

#charts {
  margin-top: 20px;
  margin-left: 50px;
  float: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.panel .label {
  font-size: 15px;
}

.chart-control-panel {
  margin-top: 20px;
  font-size: 14px;
  float:left;
}

.chart-control-panel .md-select-label {
  font-size: 14px;
}

md-option .md-text {
  font-size: 14px;
}

.chart-control-panel .sub-selection {
  margin-left: 8px;
}

.chart-control-panel .x-axis-controls {
  margin-top: 50px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
  float: right;
}

.dragover {
    border: 5px dashed blue;
}