<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/angular_material/0.8.2/angular-material.css">
    <link rel="stylesheet" type="text/css" href="../css/tree-control.css">
    <link rel="stylesheet" href="../css/graph.css">
    <link rel="stylesheet" href="data-dashboard.css">
    <link href='/font/Oxygen.css' rel='stylesheet' type='text/css'>
    <script>
      var require = {
          baseUrl: "..",
          paths: {
              'angular': 'lib/angular/1.3.6/angular.min',
              'angular-route': 'lib/angular/1.3.6/angular-route.min',
              'angular-animate': "lib/angular/1.3.6/angular-animate.min",
              'angular-aria': "lib/angular/1.3.5/angular-aria.min",
              'angular-material': "lib/angular_material/0.8.2/angular-material.min",
              'angularAMD': 'lib/angularAMD-0.2.1.min',
              'ngload': 'lib/ngload.min',
              'angular-upload': 'lib/ng-file-upload-bower-3.1.2/angular-file-upload.min',
              'angular-tree-control': 'lib/angular-tree-control'
          },

          // Add angular modules that does not support AMD out of the box, put it in a shim
          shim: {
              'angularAMD': ['angular'],
              'ngload': ['angularAMD'],
              'angular-route': ['angular'],
              'angular-aria': ['angular'],
              'angular-animate': ['angular'],
              'angular-material': ['angular-animate', 'angular-aria', 'angular'],
              'angular-upload': ['angular'],
              'angular-tree-control': ['angular'],
          }
      };
    </script>
    <script data-main="admin/data-dashboard.js" src="../lib/require.js"></script>
  </head>

<body ng-cloak>

  <div class=page-title> Data Dash </div>

  <div ng-controller="DataDashController as dash">
    <div layout="row">
      <md-content class="left-button-bar" layout="column">
        <md-button class="md-primary menu" ng-click="showLeftPanel = !showLeftPanel" aria-label="show left menu">
          <md-icon md-svg-src="/img/icons/ic_menu_48px.svg"></md-icon>
        </md-button>

        <md-button class="md-primary md-hue-1 upload-button" ng-click="showUpload()" aria-label="upload a file">
          <md-icon md-svg-src="/img/icons/ic_file_upload_48px.svg"></md-icon>
        </md-button>
      </md-content>
      <div layout="row" class="main-content">
        <div class="picker" ng-show="showLeftPanel">
          <Column-Picker search="dash.entityQuery" find-children="dash.columnsQuery"
                download-file="dash.downloadTsv" plot-data="dash.plotData"></Column-Picker>
        </div>

        <chart-with-settings api-event="firstChart"></chart-with-settings>
      </div>
    </div>

  </div>

</body>
</html>
